/* src/index.css */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: block;         /* enlève le flex centré du template */
  min-height: 100%;
  background: #f6f7f9;    /* même fond que tes pages */
}

/* IMPORTANT: enlève la limite de largeur */
#root {
  max-width: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
